img {
  max-width: 14em;
}

// iframe{
//   // width: auto;
//   max-width: 100%;
//   // height: 100%;
//   overflow: hidden;
//   // object-fit: cover;
//   // max-height: 100%;
// }

.vcontainer { //for videos to hold therir height
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; //16:9 aspect ratio

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

li{
  cursor: pointer; 
}

.container {
  // position: relative;
  // margin-top:5%;
  // height: 83%;
  // bottom:0;
}
