img {
  max-width: 100%;
}
*{font-family: "Playfair Display",serif;}
button{
  @include button
}

h1{
  color: map-get($palette , grey5 );
  text-align: center;
}
h2,p{
  color: map-get($palette , grey4 );
}
h3{
  color: map-get($palette , grey3 );
}
h4{
  color: map-get($palette , grey2 );
}
h5{
  color: map-get($palette , grey1 );
}
a{
  text-decoration: none;
}

li{
  cursor: pointer; 
}

form{
  text-align: center;
  
  input,textarea{
    @include border();
    padding-left: 0.5em;
  }
  textarea{
    border-radius: 0.5em;
    padding-top: 0.5em;
  }
}

#clinks{
  padding: 0;
  text-decoration: none;
  list-style: none;
  li{
    text-align: center;
    a{
      color: map-get($palette, grey4);
      &:hover{
          color: map-get($palette, a_hover);
      }
    }
  }
}
