@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/breakpoints';
@import 'libs/vars';
// vue asks for these big ass /fonts/*.eot files
// @import '../css/font-awesome.min.css';
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');


// Base.

	// @import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	// @import 'components/row';
	// @import 'components/section';
	// @import 'components/icon';
	// @import 'components/list';
	// @import 'components/actions';
	// @import 'components/icons';
	// @import 'components/form';
	// @import 'components/box';
	// @import 'components/image';
	// @import 'components/table';
	// @import 'components/button';
	// @import 'components/cards';

// Layout.

	@import 'layout/header';
	// @import 'layout/menu';
	// @import 'layout/index';
	@import 'layout/footer';
	// @import 'layout/wrapper';

// External css ATTENTION
	// @import '../css/animate.min';
	// @import '../css/owl.carousel.min.css'; //not needed? loaded by the script
	// @import '../css/owl.theme.default.min.css'; //not needed?
