/* cards */
$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

//function + mixin (not used anywhere)
@function shadow-string($color1, $color2, $length) {
  $total-length: $length;
  $string: $color1 0px 0px;

  @while $length>0 {
    $mix-amount: 100 - (($length / $total-length) * 100);
    $mixed-color: mix($color1, $color2, $mix-amount);
    $string-addition: $length+px $length+px;
    $string: $mixed-color $string-addition, $string;
    $length: $length - 1;
  }

  @return $string
}

@mixin longshadow($color1, $color2, $length) {
  text-shadow: shadow-string($color1, $color2, $length);
}


@mixin categoryColor($color) {
  // text color in button
  color: $color !important;
  // perimeter color
  box-shadow: inset 0 0 0 2px $color;
}


body {
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5em;
}

h1+p,
p+p {
  margin-top: 10px;
}

.container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 10;

  // ATTENTION bypasses issue where the toggles escape their containers bad fix
  // margin-top:5em;

  div:last-child {
    // ATTENTION for the bottom shadow crop
    padding-bottom: 0.42em;

  }
}

//Vue transition classes name="cards-trans" v-enter, v-enter-to, ....
.cards-trans-enter,
.cards-trans-leave-to {
  opacity: 0;
}
.cards-trans-enter-to,
.cards-trans-leave {
  opacity: 1;
}
.cards-trans-enter-active,
.cards-trans-leave-active {
  transition: opacity 1s;
}



.card-wrap {
  //big shadows version
  // margin: 1em 0 5em 0;
  margin: 1em 0 0.5em 0;
  transform: perspective(800px);
  transform-style: preserve-3d;

  // cursor: pointer;

  // ATTENTION the default value "inherit" in _page.scss fucks up the images
  box-sizing: initial;

  &:hover {
    .card-info {
      transform: translateY(0);
    }

    .card-info p {
      opacity: 1;
    }

    .card-info,
    .card-info p {
      transition: 0.4s $hoverEasing;
    }

    .card-info:after {
      transition: 0.4s $hoverEasing;
      opacity: 1;
      transform: translateY(0);
    }

    .card-bg {
      transition:
        0.6s $hoverEasing,
        opacity 1s $hoverEasing;
      opacity: 0.6;

      // ATTENTION this was originally handled by vue byt there is a bug with the cards inside carousel
      transform: translateX(10px) translateY(10px);
    }

    .card {
      transition:
        0.6s $hoverEasing,
        box-shadow 1s $hoverEasing;
      box-shadow:
      // rgba(white, 0.2) 0 0 40px 5px,
        rgba(white, 1) 0 0 0 3px,
        rgba(black, 0.66) 0 10px 20px 0;
      // inset #333 0 0 0 5px,
      // inset white 0 0 0 6px;

      // ATTENTION this was originally handled by vue but there is a bug with the cards inside carousel
      transform: rotateY(-10deg) rotateX(10deg);
    }

    // ATTENTION shadow transition on hover
    .card-category {
      transition:
        0.6s $hoverEasing,
        box-shadow 1s $hoverEasing;
      box-shadow: rgba(black, 0.66) 0 10px 20px 0;
    }
  }
}

.card-category,
.card-category2 {
  border-radius: _size(border-radius);
  position: absolute;
  box-shadow: black 0px 0px 20px;
  // right: 1em;
  // top: 1em;
  z-index: 1;
  // ATTENTION shadow transition on leave
  transition: 1s $returnEasing;
  background-color: rgba(_palette(fg), 0.3);

  button {
    text-shadow: rgba(black, 0.9) 0px 0px 5px;
    // to override the default 
    text-transform: none;

    &.helix {
      @include categoryColor(_palette(helix));
    }

    &.hxstomp {
      @include categoryColor(_palette(hx-stomp));
    }

    &.biasamp {
      @include categoryColor(_palette(bias-amp));
    }

    &.biaspedal {
      @include categoryColor(_palette(bias-pedal));
    }

    &.biasfx {
      @include categoryColor(_palette(bias-fx));
    }

    &.guitarrig5 {
      @include categoryColor(_palette(guitar-rig-5));
    }

    &.freevst {
      @include categoryColor(_palette(free-vst));
    }

    &.bass {
      @include categoryColor(_palette(bass));
    }

    &.free {
      @include categoryColor(_palette(free));
    }

  }
}

.card{
  .card-category,.card-category2{
    right: 1em;
    top: 1em;
  }
  .card-category2 {
    margin-top: 3.1em;
  }
}

.preset{
  .card-category,.card-category2{
    background-color: _palette(burger-white);
    button{
      // color: _palette(fg) !important;
      box-shadow: none;
      text-shadow: none;
      border:-1px;
    }
    box-shadow:none;
    position: fixed;
    bottom: 2em;
    @include breakpoint('<=small') {
      bottom: 0.5em;
    }
  }
  .card-category2{
    // these values where stolen from _header.scss
    left: 2em;
    @include breakpoint('<=small') {
      left: 0.5em;
    }
  }
  .card-category{
    right: 2em;
    @include breakpoint('<=small') {
      right: 0.5em;
    }
  }
}



.card {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex: 0 0 240px;

  // bigger width values fuck up the shadows
  width: 20em;
  height: 19em;

  @include breakpoint('<=medium') {
    width: 19em;
    height: 18em;
  }

  @include breakpoint('<=small') {
    width: 18em;
    height: 18em;
  }


  background-color: #333;
  overflow: hidden;
  border-radius: 30px;

  // how long it takes for the card to become straight after yuo leave your mouse
  transition: 0.4s $returnEasing;
}



.card-bg {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    0.4s $returnEasing,
    opacity 0.5s 0.5s $returnEasing;
  pointer-events: none;
}

.card-info {
  // padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(35%);
  // first value animation duration for the info to roll down after you leave
  // second value offset werer nothing happens
  transition: 0.3s 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  // when you have a short description the shadows fuck up
  text-align: center;
  width: 100%;


  p {
    opacity: 0;
    text-shadow: rgba(black, 1) 0 2px 3px;
  // first value animation duration for the info to roll down after you leave
  // second value offset werer nothing happens
    transition: 0.3s 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    // transition: 2s 1s $returnEasing;
  }
}

.card-info h1 {
  font-size: 25px;
  // ATTENTION Makes text Readable
  text-shadow: rgba(black, 0.9) 3px 3px 8px;
  // @include longshadow(_palette(accent1),rgba(_palette(accent1),0.2), 7);
}