/* [2] Transition property for smooth transformation of images */
.container {
  img {
    transition: transform .9s ease;
    // overflow: hidden;
    // z-index: -1;
  }

  /* [3] Finally, transforming the image when container gets hovered */
  img:hover {
    transform: scale(1.05);
  }
}
