header {
  li {
    position: relative;

    &:hover,
    :hover {
      color: map-get($palette, a_hover);
    }
  }

  li::before,
  li::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: map-get($palette, a_hover);
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  li::before {
    top: 0;
    transform-origin: center right;
  }

  li:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }

  li::after {
    bottom: 0;
    transform-origin: center left;
  }

  li:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
  }

}

.filters {
  li {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    // color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    // background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
  }

  li::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgba(aqua, 0.05);
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1s ease-in-out;
  }

  li:hover {
    cursor: pointer;
    color: #161616;
  }

  li:hover::before {
    transform: translate(-50%, -50%) scale(15);
  }
}
