backend:
  name: git-gateway # Git Gateway is a Netlify open source project that allows you to add editors to your site CMS without giving them direct write access to your GitHub or GitLab repository.
  branch: master # Branch to update (optional; defaults to master)
  accept_roles: 
    - admin
    - editor

media_folder: "static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - label: "Pages"
    name: "pages"
    folder: "content/pages"
    create: true
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields:
        - {label: Filename, name: title, widget: string ,required: true ,hint: ΕΑΝ ΕΙΝΑΙ ΣΥΜΠΛΗΡΩΜΕΝΟ ΔΕΝ ΤΟ ΠΕΙΡΑΖΕΙΣ. Το πειράζεις μόνο μιά φορά εάν είναι κενό (όταν φτιάχνεις νέα συλλογή). Αυτό βλέπουν οι μηχανές αναζήτησης. Βάζεις αυτό που θέλεις να γράψει ο επισκέπτης για να σε βρεί.}
        - {label: Heading, name: head, widget: string, required: true ,hint: Επικεφαλίδα της συλλογής. Την αλλάζεις όπως θες. Αυτό βλέπουν οι επισκέπτες.}
        - {label: Category, name: category, widget: relation, collection: categories, default: "group-exhibitions", searchFields: [title], valueField: title, disaplyFields: title ,hint: Επιλέγεις σε ποιό menu ανήκει η συλλογή}
        - {label: Creation Date, name: creationDate ,widget: date ,default: "",format: "YYYY-MM-DD", required: true, hint: Με αυτήν την ημερομηνία ταξινομείς την σειρά εμφάνισης στην κεντρική.}
        - {label: Featured Image, name: featuredImage, widget: image ,required: true, hint: Κεντρική Φωτογραφία Συλλογής.}
        - {label: Description English, name: descriptionEn, widget: text,required: false, hint: Περιγραφή συλλογής στα Ελληνικά}
        - {label: Description Greek, name: descriptionGr, widget: text,required: false, hint: Περιγραφή συλλογής στα Αγγλικά}
        - {label: Images, name: body, widget: markdown,required: false,hint: Ο ΔΙΑΚΟΠΤΗΣ ΝΑ ΕΙΝΑΙ ΓΥΡΙΣΜΕΝΟΣ ΣΤΟ MARKDOWN ΠΡΙΝ ΡΙΞΕΙΣ ΤΟΝ ΚΩΔΙΚΑ! Ανεβάζεις -> https://catman85.github.io/imgur-uploader/ Για ταξινόμηση -> https://catman85.github.io/markdown-image-organizer/}
        # - label: "Gallery"
        #   name: "galleryImages"
        #   widget: "list"
        #   field: {label: Image, name: image, widget: image}
  - name: "categories" # Used in routes, e.g., /admin/collections/blog
    label: "Categories" # Used in the UI
    folder: "content/categories" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: Category, name: title, widget: string, required: true}
  - name: "videos" # Used in routes, e.g., /admin/collections/blog
    label: "Videos" # Used in the UI
    folder: "content/videos" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: Filename, name: title, widget: string ,required: true ,hint: Το πειράζεις μόνο μιά φορά εάν είναι κενό. ΕΑΝ ΕΙΝΑΙ ΣΥΜΠΛΗΡΩΜΕΝΟ ΔΕΝ ΤΟ ΠΕΙΡΑΖΕΙΣ. Αυτό βλέπουν οι μηχανές αναζήτησης.}
      - {label: Heading, name: head, widget: string, required: true ,hint: Τo αλλάζεις όπως θες. Αυτό βλέπουν οι επισκέπτες.}
      - {label: Description, name: description, widget: text, required: false}
      - {label: Youtube URL, name: ytLink, widget: text, required: true ,hint: Εδώ βάζεις το link για το video απο το Youtube.}
  - name: "text"
    label: "Paragraphs"
    folder: "content/text"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: Filename, name: title, widget: string ,required: true}
      - {label: RichText English, name: textEn, widget: markdown, required: true}
      - {label: RichText Greek, name: textGr, widget: markdown, required: true}
  - name: "links"    
    label: "Links" 
    folder: "content/links"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: Link Title, name: title, widget: string ,required: true}
      - {label: Link URL, name: url, widget: string ,required: true}
  # - label: "Categories" # Used in the UI
  #   name: "categories" # Used in routes, e.g., /admin/collections/blog
  #   folder: "content/categories" # The path to the folder where the documents are stored
  #   create: true # Allow users to create new documents in this collection
  #   slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
  #   fields: # The fields for each document, usually in front matter
  #     - {label: Title, name: title, widget: string, required: true}
