backend:
  name: git-gateway # Git Gateway is a Netlify open source project that allows you to add editors to your site CMS without giving them direct write access to your GitHub or GitLab repository.
  branch: master # Branch to update (optional; defaults to master)
  accept_roles: 
    - admin
    - editor

media_folder: "static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - label: "Pages"
    name: "pages"
    folder: "content/pages"
    create: true
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields:
        - {label: Filename, name: title, widget: string, ,hint: Το πειράζεις μόνο μιά φορά ,required: true}
        - {label: Heading, name: head, widget: string, required: true}
        - {label: Category, name: category, widget: string, default: "group-exhibitions", required: true}
        - {label: Creation Date, name: creationDate ,widget: date ,default: "",format: "YYYY-MM-DD", required: true}
        - {label: Featured Image, name: featuredImage, widget: image ,required: true}
        - {label: Description English, name: descriptionEn, widget: text,required: false}
        - {label: Description Greek, name: descriptionGr, widget: text,required: false}
        - {label: Images, name: body, widget: markdown,,required: false}        
        # - label: "Gallery"
        #   name: "galleryImages"
        #   widget: "list"
        #   field: {label: Image, name: image, widget: image}
  - name: "videos" # Used in routes, e.g., /admin/collections/blog
    label: "Video" # Used in the UI
    folder: "content/videos" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: Title, name: title, widget: string, required: false}
      - {label: Description, name: description, widget: text, required: false}
      - {label: Youtube URL, name: ytLink, widget: text, required: true}
  # - label: "Categories" # Used in the UI
  #   name: "categories" # Used in routes, e.g., /admin/collections/blog
  #   folder: "content/categories" # The path to the folder where the documents are stored
  #   create: true # Allow users to create new documents in this collection
  #   slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
  #   fields: # The fields for each document, usually in front matter
  #     - {label: Title, name: title, widget: string, required: true}
