hr{
	// max-width: 100%; //overrite
	// width: 25%;
	margin-top: 3em;
}

footer{
	text-align: center;
	color: map-get($palette, grey2 );
	a {
		color: map-get($palette, grey4 );
		text-decoration: none;
		&:hover{
			color: map-get($palette, a_hover );
		}
	}
}