footer{
	margin-top: 3em;
	text-align: center;
	color: map-get($palette, grey2 );
	a {
		color: map-get($palette, grey4 );
		text-decoration: none;
		&:hover{
			color: map-get($palette, a_hover );
		}
	}
}