header {
  // for some reason the headers height is 0 if we don't do this and
  overflow: hidden;
  // background: #fff;
  width: 100%;
  //   height: 85px;
  // border-bottom: 4px solid #4C9CF1;
  //   z-index: 100;

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  :focus {
    outline: 0;
  }

  ins {
    // ypogrammish
    text-decoration: none;
  }

  del {
    // diagrafh
    text-decoration: line-through;
  }

  a {
    // color: _palette(fg);//FIXME: wtf happened?
    color:grey;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      // color: _palette(accent1);
    }
  }

  #logo svg {
    margin: 10px;
    float: left;
    width: 250px;
    height: 80px;
    // background: url(/assets/images/anthiamegachavre_sign_small_single_svg.svg) no-repeat center;
    fill: grey;
  }

  #menu-icon svg {
    fill: grey;
  }

  nav {
    float: right;

    ul {
      display: inline-block; //side by side

      li {
        display: inline-block; // makes li elements appear side by side
        padding: 15px;
      }
    }
  }

  #menu-icon {
    display: none; // overiten by a media query
    //   background: #4C8FEC url(../img/menu-icon.png) center;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
  }

  // @media only screen and (max-width : 640px) {
  @include for-tablet-landscape-down {
    // separates the logo from the burger when scrolling
    // position: absolute;
    // but is not needed since parent uses overflow:hidden

    nav {
      //menu
      background: rgba(255, 255, 255, 0.850);
      position: fixed;
      top: 3em;
      right: 1em;
      border-radius: 1.5em;
      // you cant set the width here because you get a line
      // width: 9em;

      #menu-icon {
        //burger
        // make it appear
        // show burger
        display: inline-block;

        svg {
          //burger icon
          position: fixed; // is needed
          top: 1.8em;
          right: 2em;
          width: 2.2em;
        }
      }

      ul {
        float: none;
        display: none; //dont show it by default
        padding: 0 0;

        li {
          display: block;
          text-align: center;
          // width: 100%; // forces them to go beneath each other
        }
      }

      .languages {
        :nth-child(2) {
          // EN
          float: left;
          margin-left: 1em;
        }

        :nth-child(1) {
          // GR
          float: right;
          margin-right: 1em;
        }
      }

    }

    .open {
      width: 10em;
      // @include fade(show);
      @include keyframes(slide-down) {
        0% {
          opacity: 0;
        }

        90% {
          opacity: 1;
        }
      }

      @include animation('slide-down 1s 1');

      ul {
        display: initial;
      }
    }

  }
}
