header {
  // for some reason the headers height is 0 if we don't do this and
  overflow: hidden;

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  :focus {
    outline: 0;
  }

  ins {
    // ypogrammish
    text-decoration: none;
  }

  del {
    // diagrafh
    text-decoration: line-through;
  }

  a {
    //   color: #4C9CF1;
    color: _palette(fg);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: _palette(accent1);
    }
  }


  background: #fff;
  width: 100%;
  //   height: 85px;
  // border-bottom: 4px solid #4C9CF1;
  //   z-index: 100;


  #logo svg {
    margin: 10px;
    float: left;
    width: 250px;
    height: 80px;
    // background: url(/assets/images/anthiamegachavre_sign_small_single_svg.svg) no-repeat center;
    fill: grey;
  }

  #menu-icon svg {
    fill: grey;
  }

  nav {
    float: right;

    ul {
      display: inline-block; //side by side

      &.languages {
        margin-right: 1em;
      }

      li {
        display: inline-block; // makes li elements appear side by side
        padding: 20px;

      }
    }


  }

  #menu-icon {
    display: none; // overiten by a media query
    //   background: #4C8FEC url(../img/menu-icon.png) center;
  }

  a:hover#menu-icon {
    // background-color: #444;
    border-radius: 4px 4px 0 0;
  }

  // @media only screen and (max-width : 640px) {
  @include for-tablet-landscape-down {

    // separates the logo from the burger when scrolling
    // position: absolute;
    // but is not needed since parent uses overflow:hidden

    nav {
      background: rgba(255, 255, 255, 0.850);
      position: fixed;
      top: 4em;
      right: 2em;
      border-radius: 2em;

      #menu-icon {
        // make it appear
        // show burger
        display: inline-block;

        // &:hover{
        // 	//FIXME: replace with js
        // 		  ~ ul { // + references all #menu-icons's siblings ul
        // 			// display: initial;
        // 		  }
        // 		  :parent{
        // 			//   width: 40%;
        // 		  }
        // }
        svg {
          //burger menu
          position: fixed;// is needed
          top: 0;
          right: 0;
          margin: 2em 2em;
        }
      }



      ul {
        float: none;
        display: none; //dont show it by default
        padding: 0 0;

        li {
          // text-align: center;
          // margin: 0 auto;
          width: 100%; // forces them to go beneath each other

        }

      }

      .languages {
        li {
          width: 20%;
        }
      }

    }

    nav:hover {
      width: 9em;

      ul {
        display: initial;
      }
    }

  }
}
