.filters {
  overflow: hidden; // porper brake
  margin: 0 auto; // gravity center
  width: 60%;// for large screens
  text-align: center;

  > { // children of .filters (.artwork and .exhibit) each take half the space
    width: 50%; // this is overwriten by 100% center mixin on phones
  }

  @include for-tablet-landscape-down {
    width: 75%;
  }

  @include for-phone-only {
    width: 100%;
  }

  h2{
    margin: 0; // overwrite default
    color: map-get($palette , grey3 );
  }
  ul {
    padding: 0; // overwrite default

    li {
      display: inline-block; // side by side
      text-decoration: none;
      list-style: none;
      padding: 0.3em 0.5em; // top-bottom left-right
      margin: 0.3em 0.3em;
      @include border();

      &:hover{
        // color: map-get($palette , aqua);
      }

      &.selected{
        color: map-get($palette , aqua);
        border-color: map-get($palette , aqua);
      }
    }
  }

  .artwork {
    float: left;
    @include for-phone-only {
      @include center();
    }
  }

  .exhibit {
    float: right;
    @include for-phone-only {
      @include center();
    }
  }
}

.container a{
  .cat{
      color: map-get($palette , grey4 );
      text-align: center;
      padding-bottom: map-get($size , distance );
  }
}
