.filters {
  vertical-align: middle;
  overflow: hidden;
  margin: 0 auto;
  width: 50%;

  h2 {
    text-align: center;
  }

  ul {
    padding: 0;

    li {
      text-decoration: none;
      list-style: none;
      // margin: 0 auto;
      // float:center;
      text-align: center;
    }
  }



  @include for-tablet-landscape-down {
    width: 65%;
  }

  @include for-phone-only {
    width: 100%;
  }

  @mixin center {
    float: none;
    display: table; // width: wrap-content
    margin: 0 auto;
  }

  .artwork {
    float: left;

    @include for-phone-only {
      @include center();
    }
  }

  .exhibit {
    float: right;

    @include for-phone-only {
      @include center();
    }
  }
}

form{
	text-align: center;
}
