.row {
    display: flex;
    overflow: hidden;
    margin: 0 13em;
    .pageDescription{
        // text-align: center;
        margin: 0 auto;
    }
    @include for-tablet-landscape-down(){
        margin: 0 6em;
    }
    @include for-phone-only(){
        margin: 0 2em;
    }
  .date {
    @include border();
    @include pageRowCenter(0.5em);
  }

  .category {
    @include border();
    @include pageRowCenter(0.5em);
  }
}

h2{
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}
hr{
    max-width: 10%;
    color: map-get($palette , grey1 );
    opacity: 0.5;
}
.featured{
    display: flex;
    background-size: contain;
    img{
        margin: 0 auto;
        max-width: 40%;
        max-height: 28em;
        @include for-tablet-landscape-down(){
            max-width: 60%;
            max-height: 22em;
        }
        @include for-phone-only(){
            max-width: 80%;
            max-height: 18em;
        }
    }
}


.description {
  // of individual image
  padding-bottom: map-get($size, distance);
  text-align: center;

  h4,
  p {
    padding: 0;
    margin: 0;

  }
}
